---
layout: default
---
      <nav>
         <ul style="list-style:none;list-style-type:none;margin:0;padding:0;overflow:hidden;">
            <li style="float:left;list-style:none;list-style-type:none;"><a style="display:block;text-align:center;padding:14px 16px;" href="/">Home</a></li>
            <li style="float:left;list-style:none;list-style-type:none;"><a style="display:block;text-align:center;padding:14px 16px;" href="/about">About</a></li>
            <li style="float:left;list-style:none;list-style-type:none;"><a style="display:block;text-align:center;padding:14px 16px;" href="/blog">Blog</a></li>
            <li style="float:left;list-style:none;list-style-type:none;"><a style="display:block;text-align:center;padding:14px 16px;" href="/portfolio">Portfolio</a></li>
         </ul>
      </nav>
      <div class="container">
         {{ content }}
      </div>
