---
layout: default
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
   </head>
   <body>
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
         </ul>
      </nav>
      <div class="container">
         {{ content }}
      </div>
      <footer>
         <ul>
            <li><a href="mailto:benhamlin@comcast.net">Email</a></li>
            <li><a href="https://github.com/benhamlin314">github.com/benhamlin314</a></li>
            <li><a href="https://www.linkedin.com/in/benjamin-hamlin-519089171/">LinkedIn</a></li>
            <li><a href="https://leetcode.com/bhamlin/">LeetCode</a></li>
         </ul>
      </footer>
   </body>
</html>
